* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container {
    width: 100%;
    height: 90%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    margin: 3rem;
    padding: .5rem;
    display: inline-block;
    text-align: center;
    width: 1000px;
    color: white;
    background-color: black;
    font-size: 5rem;
}

#timekeeper {
    font-size: 7rem;
    margin: 3rem;
}

#buttons {
    display: flex;
    justify-content: center;
    margin: 5rem;
}


.fas {
    font-size: 7rem;
    color: red;
    margin-right: 7rem;
    margin-left: 7rem;
    outline: red solid 3px;
    outline-offset: 1.5rem;
}

.fas:hover {
    cursor: pointer;
}

.fas:active {
    transform: translateY(2px);                                     
}